.paper-card {
  background-color: white;
  border-radius: 15px;
  height: 80vh;
  margin-top: 10%;
  margin-left: 10%;
  animation: fadein 1s;
}

.paper-title {
  font-family: VisbyRoundCF;
  color: #ba745e;
  text-align: center;
  padding-top: 5%;
  animation: fadein 1s;
}

.paper-info {
  font-family: VisbyRoundCF;
  color: #ba745e;
  font-weight: bold;
  margin-left: 5%;
  animation: fadein 1s;
}

.card-container {
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.bold-me {
  font-weight: normal;
}